// Styling for the masthead
header.masthead {
  text-align: center;
  text-decoration:black;
  color: #e8e8e8;
  background-image: url('../img/splash/splash01.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  box-shadow: inset 0px 100px 1000px black;

  .official-logo {
    img {
      max-height:200px;
      margin-bottom: 80px;
      //padding-right: 15px;
      background: radial-gradient(white, transparent, transparent);
    }
  }

  @include background-cover;
  .intro-text {
    padding-top: 70px;
    padding-bottom: 100px;
    text-shadow: 0px 0px 10px rgb(155, 35, 235);
    -webkit-text-stroke: 1px black;

    .intro-lead-in {
      font-size: 30px;
      line-height: 30px;
      margin-bottom: 25px;
      font-weight: 700;
      @include heading-font;
    }
    .intro-heading {
      font-size: 40px;
      font-weight: 700;
      line-height: 40px;
      margin-bottom: 25px;
      @include heading-font;
    }
  }
}
@media(min-width:768px) {
  header.masthead {
    .intro-text {
      padding-top: 100px;
      padding-bottom: 100px;
      .intro-lead-in {
        font-size: 40px;
        line-height: 40px;
        margin-bottom: 25px;
        @include heading-font;
      }
      .intro-heading {
        font-size: 60px;
        font-weight: 700;
        line-height: 60px;
        margin-bottom: 50px;
        @include heading-font;
      }
    }
  }
}